<div class="footer">
    <div class="subscription-container">
        <div class="flex-grow-1">
            <div class="input-group w-100 w-md-75 w-lg-50">
                <input id="Subscription" type="text" class="form-control" placeholder="Your Email">
                <button class="btn btn-outline-secondary" type="button">Subscribe</button>
            </div>
        </div>
        <div class="p-2">
            <a href=""><img class="img-fluid" id="instagramLogo" src="/Images/instalogo.svg" alt="instagram"></a>
        </div>
        <div class="p-2">
            <a href=""><img id="TiktokLogo" src="/Images/tiktoklogo.svg" alt="tiktok"></a>
        </div>
    </div>
    <p class="subscription-notice">
        By clicking "Subscribe", you consent to receive marketing emails. 
        View our <a id="privacyPolicy" href="/privacy">Privacy Policy</a> and 
        <a id="termAndConditions" href="/terms">Terms & Conditions</a>.
    </p>
    <div class="footer-container d-flex flex-wrap align-items-center">
        <ul>
            <li id="Customer-service-heading">Customer Service</li>
            <li class="Customer-services"><a class="Customer-services" href="">Shipping Info</a></li>
            <li class="Customer-services"><a class="Customer-services" href="">Return Policy</a></li>
            <li class="Customer-services"><a class="Customer-services" href="">Contact us</a></li>
        </ul>
        <ul>
            <li id="Privacy-Terms-Heading">Privacy & Terms</li>
            <li class="privacy-terms"><a class="privacy-terms" href="/privacy">Privacy Policy</a></li>
            <li class="privacy-terms"><a class="privacy-terms" href="/terms">Terms And Conditions</a></li>
        </ul>
    </div>
    <div class="cardbox">
        <img src="/Images/card1.svg" alt="card1">
        <img src="/Images/card2.svg" alt="card2">
        <img src="/Images/card3.svg" alt="card3">
        <img src="/Images/card4.svg" alt="card4">
        <img src="/Images/card5.svg" alt="card5">
        <img src="/Images/card6.svg" alt="card6">
        <img src="/Images/card7.svg" alt="card7">
        <img src="/Images/card8.svg" alt="card8">
    </div>
    <span id="rights">© 2025 MISSGUIDED-ALL RIGHTS RESERVED</span>
</div>
