<div class="menu-container">
    <div class="menu-wrapper">
       <ul id="menu">
            <li id = 'allcatogorieslist' class="hasDropDown"><a style="color: gray; text-decoration: none;" href="/products">All Categories ▾</a>
                    <ul class="dropdown">
                        <li><a class="dropdownlinks" href="">Dresses</a></li>
                        <li><a class="dropdownlinks" href="">Tops</a></li>
                        <li><a class="dropdownlinks" href="">Bottoms</a></li>
                        <li><a class="dropdownlinks" href="">Co-ords & Sets</a></li>
                        <li><a class="dropdownlinks" href="">Denim</a></li>
                        <li><a class="dropdownlinks" href="">Outerwear</a></li>
                        <li><a class="dropdownlinks" href="">Knitwear</a></li>
                        <li><a class="dropdownlinks" href="">Bodysuits & Jumpsuits</a></li>
                        <li><a class="dropdownlinks" href="">Suits</a></li>
                        <li><a class="dropdownlinks" href="">Sweatshirts</a></li>
                        <li><a class="dropdownlinks" href="">Beachwear</a></li>
                        <li><a class="dropdownlinks" href="">Loungewear</a></li>
                        <li><a class="dropdownlinks" href="">Activewear</a></li>
                        <li><a class="dropdownlinks" href="">Sleepwear</a></li>
                        <li><a class="dropdownlinks" href="">Footwear</a></li>
                        <li><a class="dropdownlinks" href="">Hats</a></li>
                        <li><a class="dropdownlinks" href="">Plus size clothing</a></li>
                        <li><a class="dropdownlinks" href="">Lingerie</a></li>
                        <li><a class="dropdownlinks" href="">Accessories</a></li>
                        <li><a class="dropdownlinks" href="">Bags</a></li>
                        <li><a class="dropdownlinks" href="">SALE</a></li>
                    </ul>
            </li>
            <li id="NewIn" class="hasDropDown">New In ▾
                    <ul class="dropdown">
                        <li><a class="dropdownlinks" href="">New IN</a></li>
                        <li><a class="dropdownlinks" href="">Playboy</a></li>
                        <li><a class="dropdownlinks" href="">Coffee Run</a></li>
                        <li><a class="dropdownlinks" href="">Runaway Romance</a></li>
                        <li><a class="dropdownlinks" href="">Elevated Essentials</a></li>
                        <li><a class="dropdownlinks" href="">Snow Bunny</a></li>
                    </ul>
            </li>
            <li><a id="missguidedxplayboy" class="nondropdown" href="">MISSGUIDED x PLAYBOY</a></li>
            <li id="Dresses" class="hasDropDown">Dresses ▾
                <ul  class="dropdown">
                    <li><a class="dropdownlinks" href="">A-Line</a></li>
                    <li><a class="dropdownlinks" href="">Bodycon</a></li>
                    <li><a class="dropdownlinks" href="">Fitted</a></li>
                    <li><a class="dropdownlinks" href="">Fit and Flare</a></li>
                    <li><a class="dropdownlinks" href="">Maxi</a></li>
                    <li><a class="dropdownlinks" href="">Long</a></li>
                    <li><a class="dropdownlinks" href="">Mini</a></li>
                    <li><a class="dropdownlinks" href="">Midi</a></li>
                </ul>
            </li>
            <li id = "TopsTees" class="hasDropDown">Tops,Blouses & Tee ▾
                <ul class="dropdown">
                    <li><a class="dropdownlinks" href="">Blouses</a></li>
                    <li><a class="dropdownlinks" href="">T-Shirts</a></li>
                    <li><a class="dropdownlinks" href="">Tank Tops & Camis</a></li>
                    <li><a class="dropdownlinks" href="">Tops</a></li>
                    <li><a class="dropdownlinks" href="">Corsets</a></li>
                    <li><a class="dropdownlinks" href="">Bralettes</a></li>
                    <li><a class="dropdownlinks" href="">Polos</a></li>
                    <li><a class="dropdownlinks" href="">Sweatshirts</a></li>
                    <li><a class="dropdownlinks" href="">Bodysuits</a></li>
                </ul>
            </li>
            <li id ="Bottoms" class="hasDropDown">Bottoms ▾
                <ul class="dropdown">
                    <li><a class="dropdownlinks" href="">Leggings</a></li>
                    <li><a class="dropdownlinks" href="">Pants</a></li>
                    <li><a class="dropdownlinks" href="">Shorts</a></li>
                    <li><a class="dropdownlinks" href="">Skirts</a></li>
                    <li><a class="dropdownlinks" href="">Sweatpants</a></li>
                </ul>
            </li>
            <li id = "denim" class="hasDropDown">Denim ▾
                <ul class="dropdown">
                    <li><a class="dropdownlinks" href="">Denim Dresses</a></li>
                    <li><a class="dropdownlinks" href="">Denim Jackets & Coats</a></li>
                    <li><a class="dropdownlinks" href="">Denim Shorts</a></li>
                    <li><a class="dropdownlinks" href="">Denim Skirts</a></li>
                    <li><a class="dropdownlinks" href="">Jeans</a></li>
                </ul>
            </li>
            <li id = "beachwear" class="hasDropDown">Beachwear ▾
                <ul class="dropdown">
                    <li><a class="dropdownlinks" href="">Bikini Bottoms</a></li>
                    <li><a class="dropdownlinks" href="">Bikini Sets</a></li>
                    <li><a class="dropdownlinks" href="">Bikini Tops</a></li>
                    <li><a class="dropdownlinks" href="">One-Pieces</a></li>
                    <li><a class="dropdownlinks" href="">Coverups</a></li>
                    <li><a class="dropdownlinks" href="">Kimonos</a></li>
                </ul>
            </li>
            <li id = "Activewear" class="hasDropDown">Activewear ▾
                <ul class="dropdown">
                    <li><a class="dropdownlinks" href="">Tops</a></li>
                    <li><a class="dropdownlinks" href="">Jackets</a></li>
                    <li><a class="dropdownlinks" href="">Sports bras</a></li>
                    <li><a class="dropdownlinks" href="">Bottoms</a></li>
                    <li><a class="dropdownlinks" href="">Track suits</a></li>
                </ul>
            </li>
            <li id = "coords" class="hasDropDown">Co-ords ▾
                <ul class="dropdown">
                    <li><a class="dropdownlinks" href="">Blouse</a></li>
                    <li><a class="dropdownlinks" href="">Camisole</a></li>
                    <li><a class="dropdownlinks" href="">Bandeau</a></li>
                    <li><a class="dropdownlinks" href="">Skirt</a></li>
                    <li><a class="dropdownlinks" href="">Shorts</a></li>
                    <li><a class="dropdownlinks" href="">Pants</a></li>
                    <li><a class="dropdownlinks" href="">Blazer</a></li>
                    <li><a class="dropdownlinks" href="">Vest</a></li>
                    <li><a class="dropdownlinks" href="">Cardigan</a></li>
                    <li><a class="dropdownlinks" href="">Sweatshirt</a></li>
                </ul>
            </li>
            <li id="Jumpsuits" class="hasDropDown">Jumpsuits & Bodysuits ▾
                <ul class="dropdown">
                    <li><a class="dropdownlinks" href="">Bodysuits</a></li>
                    <li><a class="dropdownlinks" href="">Jumpsuits</a></li>
                    <li><a class="dropdownlinks" href="">Unitards</a></li>
                </ul>
            </li>
            <li id = "tailoring" class="hasDropDown">Tailoring ▾
                <ul class="dropdown">
                    <li><a class="dropdownlinks" href="">Blazers</a></li>
                    <li><a class="dropdownlinks" href="">Suit Pants</a></li>
                    <li><a class="dropdownlinks" href="">Suit sets</a></li>
                </ul>
            </li>
            <li id="lingerie" class="hasDropDown">Lingerie ▾
                <ul class="dropdown">
                    <li><a class="dropdownlinks" href="">Bras</a></li>
                    <li><a class="dropdownlinks" href="">Thongs</a></li>
                    <li><a class="dropdownlinks" href="">Panties</a></li>
                    <li><a class="dropdownlinks" href="">Sets</a></li>
                </ul>
            </li>
            <li id="Loungewear" class="hasDropDown">Loungewear ▾
                <ul class="dropdown">
                    <li><a class="dropdownlinks" href="">Tops</a></li>
                    <li><a class="dropdownlinks" href="">Bottoms</a></li>
                    <li><a class="dropdownlinks" href="">Robes</a></li>
                    <li><a class="dropdownlinks" href="">Sets</a></li>
                    <li><a class="dropdownlinks" href="">Pajamas</a></li>
                </ul>
            </li>
            <li id="knitwear" class="hasDropDown">Knitwear ▾
                <ul class="dropdown">
                    <li><a class="dropdownlinks" href="">Cardigans</a></li>
                    <li><a class="dropdownlinks" href="">Sweaters</a></li>
                    <li><a class="dropdownlinks" href="">Dresses</a></li>
                    <li><a class="dropdownlinks" href="">Skirts</a></li>
                    <li><a class="dropdownlinks" href="">Co-ords</a></li>
                </ul>
            </li>
            <li id="Outerwear" class="hasDropDown">Outerwear ▾
                <ul class="dropdown">
                    <li><a class="dropdownlinks" href="">Coats</a></li>
                    <li><a class="dropdownlinks" href="">Jackets</a></li>
                    <li><a class="dropdownlinks" href="">Trench Coats</a></li>
                    <li><a class="dropdownlinks" href="">Faux Fur</a></li>
                </ul>
            </li>
            <li><a id="sale" class="nondropdown"  href="">SALE</a></li>
        </ul>
    </div>
</div>
